h1
{
color:blue; 
font-size:300%
}

body
{
background:white;
}

#border
{
color:black;
background-color:#00ffff;
font-family:"Times New Roman";
border-style:groove;
border-color:white;
border-width:50px;
}
.btn

{

padding:10px 20px;

border-radius:10px;

text-transform:uppercase;

background:#0000ff;

color:#ffffff;

text-decoration:none;


}
.btn:hover

{

color:#ffffff;

background:#000080;

}
