h1
{
color:blue; 
font-size:300%
}

body
{
background:white;
}

#border
{
color:black;
background-color:#00ffff;
font-family:"Times New Roman";
border-style:groove;
border-color:white;
border-width:50px;
  margin:0 auto;
}
